#{extends '/crud/layout.html' /}
#{set title:'Хэрэглэгчид' /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">Хэрэглэгчид</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>
	
    <div id="crudListTable">
        #{crud.table fields:['id', 'firstName', 'lastName', 'email', 'isAdmin', 'Application', 'applicationStatus']}
        	#{crud.custom 'Application'}
  				<a href="@{Admin.showProfile(object.id)}">
   					Харах
  				</a>
 			#{/crud.custom}
 			#{crud.custom 'applicationStatus'}
  				#{applicationStatusTag applicationStatus:object.getProfile()?.applicationStatus?.toString()/}
 			#{/crud.custom}
 		#{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
